nav.breadcrumbs {
  position: relative;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #cfd8dc;
  background-color: transparent;
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  color: #b0bec5;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      display: inline-block;
      a {
        color: #7c7c7c;
      }
    }
    li + li:before {
      content: ">";
      display: inline-block;
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      font-weight: bold;
      color: #7c7c7c;
    }
  }
}