.concept-extraction {
  .card-header {
    background-color: white;
    span {
      text-transform: uppercase;
      font-weight: bold;
      color: #6c6c6c;
      i {
        color: #3A9D5D;
        margin-right: 0.6rem;
      }
    }
    button {
      color: #20a8d8;
    }
  }
}