#top-cards {
  h2.card-title { margin-bottom: 0; }
}

#notifications {
  background-color: white;
  padding: 1rem;
  box-shadow: 0px 0px 10px #CCC;
  color: #6c6c6c;
  font-size: 0.8rem;
  h1 {
    color: #6c6c6c;
    font-size: 1rem;
    text-transform: uppercase;
    border-bottom: 1px solid #D3D3D3;
    margin: -1rem -1rem 0 -1rem;
    padding: 1rem;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0 -1rem -1rem -1rem;
    li {
      border-bottom: 1px solid #D3D3D3;
      padding: 1rem 1rem 0.5rem;
      .icon {
        float: left;
        margin-right: 1rem;
        margin-bottom: 1.8rem;
      }
      p { margin-bottom: 0.3rem; }
      .time { font-size: 0.7rem; }
      div.clearfix {
        clear: both;
        height: 0;
      }
    }
  }
}

.pending {
  position: relative;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 24px;
    content: 'Results coming soon';
    text-align: center;
    padding-top: 35%;
    background-color: rgba(88, 100, 106, 0.95);
    color: white;
    z-index: 10;
  }
}

#project-box {
  background-color: white;
  margin: 1rem 0 2rem;
  box-shadow: 0px 2px 10px #CCC;
  .details { width: 100%; }
  .title {
    position: relative;
    background-color: #21A8D8;
    color: white;
    padding: 1rem 0.75rem 1rem 3rem;
    font-weight: bold;
    .actions {
      font-weight: normal;
      float: right;
      vertical-align: middle;
      a {
        display: inline-block;
        color: white;
        font-size: 0.7rem;
        margin: 0 0.5rem;
        &:hover {
          color: #187899;
          text-decoration: none;
        }
      }
    }
    label {
      margin-bottom: 0;
      position: absolute;
      top: 0.7rem;
      left: 1rem;
      font-size: 1.5rem;
      line-height: 2rem;
    }
    input[type=checkbox] { display: none; }
    input[type=checkbox]:checked+label:before {
      cursor: pointer;
      display: block;
      font-family: "FontAwesome";
      content: "\f046";
    }
    input[type=checkbox]+label:before {
      cursor: pointer;
      display: block;
      font-family: "FontAwesome";
      content: "\f096";
    }
  }
  .meta {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    overflow-x: auto;
    padding: 1rem 0rem 0.5rem;
    div {
      font-size: 0.7rem;
      color: #6c6c6c;
      margin: 0 0.5rem;
      strong { font-weight: bold; }
    }
    i { margin-right: 0.2rem; }
  }
  .subtitle {
    font-size: 0.8rem;
    text-transform: uppercase;
    margin: 0.5rem 0;
  }
  .faces {
    margin-bottom: 1rem;
    img {
      height: 35px;
      border-radius: 50%;
    }
  }
  table {
    width: 100%;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    color: #3c3c3c;
    thead {
      background-color: #E4E5E6;
    }
    th { padding: 0.5rem; }
    td { padding: 0.7rem; }
    tr:not(:last-of-type) {
      border-bottom: 1px solid #E4E5E6;
    }
    i {
      margin-right: 0.5rem;
      color: #CCC;
    }
  }
}